@charset "UTF-8";
body{
    background-color: pink;
    font: normal 15pt Arial;
}

header{
color: white; 
text-align: center;   

}

section{
background-color: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.611);

}

footer{
color: white;
text-align: center;
font-style: italic;
}

#res{
    color: black;
    width: 250px;
    height: 250px;
    background-color: white;
    font-size: 10pt;
    padding: 8px;
    border: 1px solid black;
    overflow: auto;
}

